| $('#notifications').append("#{escape_javascript(render 'notifications', projects: @projects)}");
| $('#notifications_morelink').replaceWith("#{escape_javascript(link_to_next_page(@projects, ' もっと見る…', remote: true, id: 'notifications_morelink', class: 'project-more fa fa-chevron-circle-down'))}");