@import '~bootstrap/dist/css/bootstrap';
@import "~font-awesome/scss/font-awesome";

.hello-world {
  color: red;
  font-size: 20px;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 20px;
  background-color: #fafafa;
}

/* header */

header {
  margin-bottom: 30px;
}

#logo, .my-project {
  margin-right: 20px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

/* form */

.file-field-hidden {
  display: none;
}

.mypage-logout-btn {
  width: 48%;
  margin-right: 2%;
}

.mypage-user-delete-btn {
  width: 48%;
  margin-left: 2%;
}
