.file-field-hidden {
  display: none;
}

.mypage-logout-btn {
  width: 48%;
  margin-right: 2%;
}

.mypage-user-delete-btn {
  width: 48%;
  margin-left: 2%;
}

#error_explanation ul {
  list-style-type: none;
}