header {
  margin-bottom: 30px;
}

#logo, .my-project {
  margin-right: 20px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #4078c0;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #4078c0;
  text-decoration: none;
}
