header {
  margin-bottom: 30px;
}

#logo, .header-link {
  margin-right: 20px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-shadow: 2px 2px 0 #555,
              -2px 2px 0 #555,
              2px -2px 0 #555,
              -2px -2px 0 #555;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.header-image {
  height: 28px;
  margin-right: 10px;
}

.header-notification:hover {
  text-decoration: none;
}