.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 20px;
  background-color: #fafafa;
}

.fa-facebook-official::before {
  color: #3b5998;
}

.fa-twitter-square::before {
  color: #55acee;
}

.fa-github::before {
  color: #24292e;
}