.project-index-item {
  color: #111;
  word-wrap: break-word;
  display: block;
  &:hover {
    text-decoration: none;
    color: #111;
    background-color:#fff;
  }
  &.fa-plus-square-o::before {
    color: #cf464b;
  }
  &.fa-bars::before {
    color: #79caca;
  }
}

.project-index-item-edit {
  font-size: 0.8em;
  background-color: #79caca;
  display: block;
  padding: 2px 0;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.project-more {
  color: #888;
  &:hover {
    text-decoration: none;
    color: #111;
  }
}

.project-card {
  width: 500px;
}