.project-index-item {
  color: #111;
  word-wrap: break-word;
  display: block;
  &:hover {
    text-decoration: none;
    color: #111;
    background-color:#fff;
  }
  &.fa-plus-square-o::before {
    color: #cf464b;
  }
  &.fa-bars::before {
    color: #79caca;
  }
}

.project-more {
  color: #888;
  &:hover {
    text-decoration: none;
    color: #111;
  }
}